/*quảng lí công văn */
.block-tlite {
    text-align: center;
    font-weight: 700;
    padding: 1%;
    color: #8f0100;
    font-size: 18px;
}

.btn-danger {
    background-color: #8f0100;
    border-color: #fbb200;
}

.block-img {
    width: 100%;
    text-align: center;
}

.card {
    border: unset;
}

/*.dxgvFocusedRow_Moderno {
    background-color: #ffffff;
}*/

.dxgvHeader_Moderno, .dxgvHeader_Moderno table {
    font-weight: 500;
    color: #8f0100;
}

.block-buttom {
    display: flex;
    justify-content: space-between;
}

.modal-header {
    background-color: #fad7d7;
    text-transform: uppercase;
}

.comment {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 2%;
    display: flex;
    flex-direction: column;
}

    .comment .comment-date {
        font-weight: 600;
        color: red;
    }

    .comment .comment-content {
        font-weight: 600;
    }

.input-phanhoi {
    margin: 2%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid #c7b5b5;
}

.block-baotruoc {
    display: flex;
    align-items: center;
}

    .block-baotruoc span {
        padding: 0 10%;
    }

.block-img {
    position: relative;
}
